@charset "utf-8";

/******************************************************************************************************

		HOJA DE ESTILOS

*****************************************************************************************************/
*{
	padding: 0;
	margin: 0;	
}

p{
	color: #777;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 100;
}

ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}


/*/////////////////////////////////////////////////*/

.logo{
	visibility: collapse;
}

#logo > a{ 
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
}

.navbar-scroll{
	position: fixed !important;
	margin-top: 0px !important;
	z-index: 1000;
}

/*/////////////////////////////////////////////////*/

textarea{
	resize: none;
}

header{
	height: 500px;
	background-color: black;
	position: relative;
	width: 100%;
	background-image: url(../img/cover.jpg);

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.barraNavegacion{
	text-align: center;
	width: 100%;
}

.navbar{
	position: absolute;
 	width: 100%;
 	margin-top: 441px;
}

.barraNavegacion li{

}

.navbar-inverse{
	
}

.navbar-inverse .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    font-size: 1.2rem;
}

.navbar-inverse .navbar-nav .nav-link:hover,
.navbar-inverse .navbar-nav .active>.nav-link,
.navbar-inverse .navbar-nav .nav-link.active,
.navbar-inverse .navbar-nav .nav-link.show,
.navbar-inverse .navbar-nav .show>.nav-link,
.nav-link:hover,
.active .nav-link{
	color: #EBA300;
}

.bg-inverse{
	background-color: rgba(0,0,0,0.7) !important;
}

.bg-color-scroll{
	background-color: rgb(0,0,0) !important;
}

.customToggler.navbar-toggler {
    border-color: rgba(255,255,255, 0.6);
}

.customToggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body{
	text-align: center;
}

.titulo{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 3.0rem;
	color: #EDF0F2;
}

.quien{
	background-color: #0B3C4C;
	padding-bottom: 70px;
	padding-top: 40px;
}

.quien p{
	margin-right: 100px;
	margin-left: 100px;
}

.servicios{
	background-color: #24221F;
	padding-bottom: 70px;
	padding-top: 40px;
}

.titulo-sec{
	margin-right: 100px;
	margin-left: 100px;
}

.proyectos{
	background-color: #363F45;
	padding-bottom: 70px;
	padding-top: 40px;
}

.proyectos p{
	margin-right: 100px;
	margin-left: 100px;
}

.contacto{
	background-color: #0F1726;
	padding-bottom: 70px;
	padding-top: 40px;
}

.contacto p{
	margin-right: 100px;
	margin-left: 100px;
}

/* Media Queries segun Bootstrap*/

@media (max-width: 576px){

}

@media (max-width: 768px){
	
}

@media (max-width: 992px){

	header{
		height: 70px;
	}

	.logo{
		visibility: visible;
		width: 60px;
		height: 60px;
		padding: 2px 0 0 2px;
		margin: 0px;
		background-image:  url(../img/jblogo.svg);
		background-repeat: no-repeat;
		background-position: center center;
	}

	.quien{
		padding-bottom: 30px;
		padding-top: 20px;
	}

	.quien p{
		margin-right: 15px;
		margin-left: 15px;
	}

	.servicios{
		padding-bottom: 30px;
		padding-top: 20px;
	}

	.titulo-sec{
		margin-right: 15px;
		margin-left: 15px;
	}

	.proyectos{
		padding-bottom: 30px;
		padding-top: 20px;
	}

	.proyectos p{
		margin-right: 15px;
		margin-left: 15px;
	}

	.contacto{
		padding-bottom: 30px;
		padding-top: 20px;
	}

	.contacto p{
		margin-right: 15px;
		margin-left: 15px;
	}

	.header-float{
		height: 100px;
	}
	
	.navbar{
		position: fixed;
		margin-top: 0;
		z-index: 100000;
	}

	.bg-inverse{
		background-color: black !important;
	}

}

.btn-enlace{
	display: inline-block;
	border:2px solid white;
	color: #fff;
	margin-top: 20px;
	padding: 10px 48px;
	text-decoration: none;
	font-size: 20px;
	font-size: 1.2rem;
}

.btn-enlace:hover{
	color: white;
}

@media (max-width: 1200px){
	
}


/*/////////////////////////////////////////////////*/


/*-------------------------------------------------- FIN ------------------------------------------------*/