@charset "utf-8";

/******************************************************************************************************

CSS Grupo ZyR 
Style Sheet for original Grupo ZyR design 
This style sheet contains the common styles for Grupo ZyR complete site

Style Sheet created by Josue Barrientos // josue.barrientosperez0@gmail.com

*****************************************************************************************************/

/*------------------------------------------------- STYLES -----------------------------------------------*/

/*--------- General Styles ---------*/
/*This styles apply to general common design in all pages*/

*{
	padding: 0;
	margin: 0;	
}

p{
	color: #555;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 100;
}

ul{
	padding: 0;
	margin: 0;
}

body{
	
}

/*/////////////////////////////////////////////////*/

/*--------- Header and Navigation ---------*/
/*This styles apply to the header common content and navigation in all pages*/

.logo{ /*Style for main logotype*/
	visibility: visible;
	position: absolute;
	width: 55px;
	height: 55px;
	padding: 2px 0 0 2px;
	margin: 0px;
	background-image:  url(../img/jblogo.svg);
	background-repeat: no-repeat;
	background-position: center center;
}


#logo > a{ 
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
}

#main{
	padding-top: 100px;
	margin-bottom: 30px;
}

/*/////////////////////////////////////////////////*/

textarea{
	resize: none;
}

.navbar-inverse .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    font-size: 1.2rem;
}

.navbar-inverse .navbar-nav .nav-link:hover,
.navbar-inverse .navbar-nav .active>.nav-link,
.navbar-inverse .navbar-nav .nav-link.active,
.navbar-inverse .navbar-nav .nav-link.show,
.navbar-inverse .navbar-nav .show>.nav-link,
.nav-link:hover,
.active .nav-link{
	color: #EBA300;
}

.bg-inverse{
	background-color: black !important;
}

.bg-color-scroll{
	background-color: rgb(0,0,0) !important;
}

.customToggler.navbar-toggler {
    border-color: rgba(255,255,255, 0.6);
}

.customToggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.parrafo-datos{
	padding-left: 70px;
	padding-right: 70px;
}

.titulo{
	padding-left: 70px;
	padding-right: 70px;
	margin-bottom: 15px;	
}

.subtitulo{
	padding-top: 15px;
	padding-left: 70px;
	padding-right: 70px;	
	margin-bottom: 15px;
}

.contact{
	font-size: 18px;
	font-size: 2rem;
	margin-left: 70px;
}

.lista-datos{
	margin-left: 100px;
	font-size: 20px;
	font-size: 1.2rem;
	margin-bottom: 20px;
}

.lista-datos li{
	margin-top: 10px;
	margin-bottom: 10px;
}

footer{
	height: 60px;
	width: 100%;
	/* position: absolute;
	bottom: 0; */
	background-color: #333;
	text-align: center;
	position: relative;
}

.parrafo-pie{
	font-size: 12px;
	font-size: 1.0rem;
	margin-top: 15px;
	color: #999;
}

.barraNavegacion{
	text-align: center;
	width: 100%;
}

/* Media Queries segun Bootstrap*/

/* Dispositivos Pequeños (Celulares, apaisado) */
@media (max-width: 576px){
	footer{
		height: 55px;
	}

	.parrafo-pie{
		font-size: 10px;
		font-size: 0.8rem;
		margin-top: 10px;
		color: #999;
	}
}

/* Dispositivos Medianos (Tabletas) */
@media (max-width: 768px){
	
	.parrafo-datos{
		padding-left: 10px;
		padding-right: 10px;
		font-size: 1.2rem;
	}

	.titulo{
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 15px;
		font-size: 	1.8rem;
		text-align: center;
	}

	.subtitulo{
		padding-top: 15px;
		padding-left: 10px;
		padding-right: 10px;	
		margin-bottom: 15px;
		font-size: 	1.6rem;
		text-align: center;
	}

	.contact{
		font-size: 18px;
		font-size: 2rem;
		margin-left: 10px;
	}

	.lista-datos{
		margin-left: 30px;
		font-size: 20px;
		font-size: 1.2rem;
		margin-bottom: 20px;
	}

	.lista-datos li{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

/* Dispositivos grandes (Monitores) */
@media (max-width: 992px){
	.logo{ /*Style for main logotype*/
		position: relative;
		visibility: visible;
		width: 60px;
		height: 60px;
		padding: 2px 0 0 2px;
		margin: 0px;
		background-image:  url(../img/jblogo.svg);
		background-repeat: no-repeat;
		background-position: center center;
	}
}


/* Dispositivos extra grandes (Monitores grandes) */
@media (max-width: 1200px){
	
}


/*/////////////////////////////////////////////////*/


/*-------------------------------------------------- END ------------------------------------------------*/